body{
	background-color: #ffffff;
}
h1 .judul{
	font-weight: bold;
	text-align: center;
}
.kotak{
	width: 270px;
	background: #908745;
	margin: 0px 200px;
	padding: 10px;
	border: 2px solid #ccdd55;
}
.input{
	width: 90%;
	margin:5px;
	padding: 5px;
	border-left: 2px solid #ccdd55;
	border-right: 2px solid #ccdd55;
	border-top: 2px solid #ccdd55;
	border-bottom: 2px solid #ccdd55;
	background: pink; 
}
.tombol{
	height: 50px;
	width: 100px;
	font-weight: bold;
	background: #c0c0c0;
}